apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ deployment_name }}"
  namespace: "{{ target_namespace | default('default') }}"
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: demoapp
  template:
    metadata:
      labels:
        app: demoapp
    spec:
      containers:
        - name: demoapp
          image: {{ image | default('image-registry.openshift-image-registry.svc:5000/demo-build/busybox-worker') }}
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: "{{ request }}m"
              memory: "{{ memory_mb | default(request) }}Mi"
            limits:
              cpu: "{{ request }}m"
              memory: "{{ memory_mb | default(request) }}Mi"
          env:
            - name: REQUEST_M
              value: "{{ request }}"
            - name: LIMIT_M
              value: "{{ request }}"
            - name: MEM_TARGET_MB
              value: "10"              
            - name: MEMORY_MB
              value: "{{ memory_mb | default(request) }}"

